# Temporary and backup files
*~
*.bak
*.swp
*.swo

# IDE-specific files and directories
.idea/
*.iml
.vscode/
*.code-workspace

# Files from version control systems or text editors
.DS_Store
Thumbs.db
*.ipch
